.articles-item-baner {
    padding: 100px;
    margin-bottom: 60px;
    background-color: var(--color-base);
    .baner {
        &__intro {
            font-family: var(--font-family-base);
            font-weight: 300;
            font-size: 14px;
            line-height: 21px;
            color: var(--color-light);
        }
    }
    @include respond-below(md) {
        padding: 80px;
    }
    @include respond-below(sm) {
        padding: 60px;
        a {
            display: none;
        }
    }
}